[2019-08-14 16:26] Vanethos opened #1 "Shared Preferences"
**Description**
Initialize Shared Preferences in the app

**File Location**
[code]

**Requirements**
- Create class that manages the https://pub.dev/packages/shared_preferences plugin - `VostSharedPreferences`. This class should read and write into the shared Preferences.

- All the keys should `const` and `String`and should be declared as private at the bottom of the file

- Create class that abs

[2019-08-14 16:30] Vanethos opened #2 "built_value initialization"
**Description**
Initialize `built_value` in the app for immutable objects.

**File Location**
[code]

**Requirements**
- Use library https://pub.dev/packages/built_value so that we can have *immutable objects* in our app

- Follow the instructions to create the `serializers` class

[2019-08-14 16:33] Vanethos opened #3 "provider package initialization"
**Description**
For dependency injection, our app will use the `provider` package

**File Location**

If any initialization helper files are needed, we should consider creating a `di` folder in the root of the project

[code]

**Requirements**
- Initialize the `provider` package - https://pub.dev/packages/provider

- The `provider` package should always provide a `BLoC` to a new page, so either cr

[2019-08-14 16:37] Vanethos opened #4 "Manage App Flavors"
**Description**
Create `prod` and `dev` flavors for the app

The flavors will:
- If the flavor is PROD, don't show any debugging logs
- Depending on the flavor, either use `localhost` for DEV or `https://api.vost.pt/v1` for PROD
- Use https://pub.dev/packages/version_banner or another library to show the user that he is using the DEV version of the app

**File Location**
[code]

**Requirements**
-

[2019-08-14 16:39] Vanethos opened #5 "Recent Occurrences Endpoint"
**Description**
Create all the classes and functions needed to access the `GET` endpoint `{{base_url}}/occurrences`

**File Location**
[code]

**Requirements**
- A `endpoints` class where the *endpoint* is declared must be created
- A `services` class where the mapping from `Response` to `Occurence` must be created

This endpoint must expose the following query parameters to be used:
- `page[numbe

[2019-08-14 16:41] Vanethos opened #6 "Families Endpoint"
**Description**
Create all the classes and functions needed to access the `GET` endpoint `{{base_url}}/occurrences/families`

**File Location**
[code]

**Requirements**
 A `endpoints` class where the *endpoint* is declared must be created
- A `services` class where the mapping from `Response` to `Family` must be created

*Example Response*

[code]

[2019-08-14 16:42] Vanethos opened #7 "Species Endpoint"
**Description**
Create all the classes and functions needed to access the `GET` endpoint `{{base_url}}/occurrences/species`

**File Location**
[code]

**Requirements**
- A `endpoints` class where the *endpoint* is declared must be created
- A `services` class where the mapping from `Response` to `Species` must be created

*Example Response*

[code]

[2019-08-14 16:42] Vanethos opened #8 "Types Endpoint"
**Description**
Create all the classes and functions needed to access the `GET` endpoint `{{base_url}}/occurrences/types`

**File Location**
[code]

**Requirements**
- A `endpoints` class where the *endpoint* is declared must be created
- A `services` class where the mapping from `Response` to `Types` must be created

*Example Response*

[code]

[2019-08-14 16:43] Vanethos opened #9 "Status Endpoint"
**Description**
Create all the classes and functions needed to access the `GET` endpoint  `{{base_url}}/occurrences/statuses`

**File Location**
[code]

**Requirements**
- A `endpoints` class where the *endpoint* is declared must be created
- A `services` class where the mapping from `Response` to `Status` must be created

*Example Response*

[code]

[2019-08-14 16:44] Vanethos opened #10 "District Endpoint"
**Description**
Create all the classes and functions needed to access the `GET` endpoint `{{base_url}}/districts`

**File Location**
[code]

**Requirements**
- A `endpoints` class where the *endpoint* is declared must be created
- A `services` class where the mapping from `Response` to `District` must be created

*Example Response*

[code]

[2019-08-14 16:47] Vanethos opened #11 "Counties Endpoint"
**Description**
Create all the classes and functions needed to access the `GET` endpoint `{{base_url}}/counties`

**File Location**
[code]

**Requirements**
- A `endpoints` class where the *endpoint* is declared must be created
- A `services` class where the mapping from `Response` to `County` must be created

*Example Response*

[code]

[2019-08-14 16:50] Vanethos opened #12 "Parishes Endpoint"
**Description**
Create all the classes and functions needed to access the `GET` endpoint `{{base_url}}/parishes`

**File Location**
[code]

**Requirements**
- A `endpoints` class where the *endpoint* is declared must be created
- A `services` class where the mapping from `Response` to `Parish` must be created

*Example Response*

[code]

[2019-08-14 16:52] Vanethos opened #13 "Native Splash Screen"
**Description**
Create Native Android and iOS screen for the app

**Requirements**
- See https://medium.com/@diegoveloper/flutter-splash-screen-9f4e05542548 for more details

**UI**

<img width="364" alt="imagem" src="https://user-images.githubusercontent.com/10728633/63039860-1fe8f280-bebc-11e9-911f-6a48d9bf219d.png">

[2019-08-14 16:54] Vanethos opened #14 "Flare Splash Screen"
**Description**
Create Flutter Splash Screen

**File Location**
[code]

**Requirements**
- "This screen will show an animation with the app logo
- Internally, this screen will check in the shared preferences if the user has opened the app previously
    - If first install, go to tutorial
   - Else, go to main app screen"

**UI**

<img width="364" alt="imagem" src="https://user-images.githubusercon

[2019-08-14 16:56] Vanethos opened #15 "Onboarding Screen"
**Description**
Create tutorial for the app

**File Location**
[code]

**Requirements**
- When swipping on the screen we go to the next (swipe right) or left (swipe left) screen
- There is one screen with an explanation about the location permission for the app. That screen will have an ""Accept"" and ""Refuse"" buttons
    - Accept will show the OS's permission dialog to accept the permission

[2019-08-14 16:57] Vanethos opened #16 "Report Problem Screen"
**Description**
Create Problems Screen

**File Location**
[code]

**Requirements**
- Screen with text information about how to report a problem

- Appbar must have a ""back"" button

**UI**
<img width="365" alt="imagem" src="https://user-images.githubusercontent.com/10728633/63040257-ff6d6800-bebc-11e9-9e8a-25b6639cbf8d.png">

**NOTES**
Assume the following text:

[code]

The email should be click

[2019-08-14 16:59] Vanethos opened #17 "Contributors Screen"
**Description**
Create screen with all the contributors for the app

**File Location**
[code]

**Requirements**
- From the Github API, get the current contributors information and display it in form of list with:
   - User image
   - User Name
   - User description

**UI**
<img width="364" alt="imagem" src="https://user-images.githubusercontent.com/10728633/63040338-29bf2580-bebd-11e9-86d2-0741927

[2019-08-14 21:00] Vanethos opened #18 "About Screen"
**Description**
About screen for VOST, including contacts, links to the contributors and tutorial screen

**File Location**
[code]

**Requirements**
- Include button to access *Contributors* screen
- Include button to access *Tutorial* screen
- All contacts should be clickable, either launch phone/email apps or use https://pub.dev/packages/url_launcher to open URLs

**UI**
<img width="361" alt="im

[2019-08-14 21:02] Vanethos opened #19 "Occurrence Widget - Status"
**Description**
Separate widget for the Status of the Occurrences.

**File Location**
[code]

**Requirements**
- Widget that with the `Occurrences` object displays information about:
    - Status
    - Last update

**UI**

<img width="342" alt="imagem" src="https://user-images.githubusercontent.com/10728633/63056074-318fc180-bedf-11e9-89cd-3800012fa0e1.png">

**NOTES**
Until the API Is completed,

[2019-08-14 21:05] Vanethos opened #20 "Occurrences Widget - Location"
**Description**
 Separate widget for the Location of the Occurrences.

**File Location**
[code]

**Requirements**
- Widget that with the `Occurrences` object displays information about:
    - Name of occurence
    - Name of the location of occurrence
    - Lat/long of location
    - Map with pin centered
    - Last update

- This widget must have a callback for the click on the map image, so that

[2019-08-14 21:07] Vanethos opened #21 "Occurrences Widget - On Site Help"
**Description**
 Separate widget for the "On Site Help" of the Occurrences.

**File Location**
[code]

**Requirements**
- Widget that with the `Occurrences` object displays information about:
    - The means that are on the site, be it human, land or aerial
    - Last update

- This widget must have a callback for the click on the map image, so that the details screen can show the Map screen with

[2019-08-14 21:08] Vanethos opened #22 "Occurrences Widget - Start and End"
**Description**
 Separate widget for the "Start and End" of the Occurrences.

**File Location**
[code]

**Requirements**
- Widget that with the `Occurrences` object displays information about:
    - Start and end of the occurrence
    - Last updated

**UI**

<img width="599" alt="imagem" src="https://user-images.githubusercontent.com/10728633/63056429-f04be180-bedf-11e9-94de-44cc8c17d83a.png">

**

[2019-08-14 21:10] Vanethos opened #23 "Details Screen"
**Description**
Flutter Description screen with the Status, Location, Start and End and On Site Help of the Occurence

**File Location**
[code]

**Pre-Requisites**
- #19
- #20
- #21
- #22

**Requirements**
- "This screen will show an animation with the app logo
- Internally, this screen will check in the shared preferences if the user has opened the app previously
    - If first install, go to tut

[2019-08-14 21:12] Vanethos opened #24 "Create Bottom Bar for Main Screen"
**Description**
Bottom Bar Navigation for the Main Screen

**File Location**
[code]

**Requirements**
- The bottom Bar for the main screen will have 3 items:
    - Map/List button - the button presented at the middle (A Floating Action Button). The default state shows a map icon. When clicked -> goes to the map screen and changes the icon to a list. When clicked again -> Shows the list screen and

[2019-08-14 21:16] Vanethos opened #25 "Occurrences List"
**Description**
List of the VOST occurrences

**File Location**
[code]

**Requirements**
- Shows a list of occurences with the following data:
    - Occurence Type
    - Parish
    - Status
    - Last Updated
    - Is the user following the occurence? (symbolized by the start icon)

- This screen will either show the **most recent** occurrences or the **"following"** occurrences

- If the list is

[2019-08-14 21:17] Vanethos opened #26 "Pull to Refresh Data in List Screen"
**Description**
Add **Pull to Refresh** in the List of Occurrences

**File Location**
[code]

**Requirements**
- "In the list of occurrences screen, there must be a ""pull-to-refresh"" feature where if the user swipes down when he is at the top of the list, the data is refreshed.

- See for example the pull_to_refresh package: https://pub.dev/packages/pull_to_refresh
This will be used in all lists

[2019-08-14 21:19] Vanethos opened #27 "Load More Data in List Screen"
**Description**
When scrolling **down** on a list, if we reach the end of a list, it should load more data if available

**File Location**
[code]

**Requirements**
- When the user reaches the bottom of the list, there should be an API call to check if there is more data to be shown. An indicator should appear on the screen to warn the user that new data is being fetched

[2019-08-14 21:21] Vanethos opened #28 "Initialize flutter_map"
**Description**
Initialize the `flutter_map` plugin in the Map Screen

**File Location**
[code]

**Requirements**
- Initialize the https://pub.dev/packages/flutter_map plugin with Mapbox [data needed]
- This widget must be shown in the Occurrences Map page

**UI**

<img width="410" alt="imagem" src="https://user-images.githubusercontent.com/10728633/63057278-c8f61400-bee1-11e9-9be9-234a6d7b03c7.pn

[2019-08-14 21:24] Vanethos opened #29 "Load markers into the map"
**Description**
With the list of occurrences, show all the markers in the map so that the user can see them.

**File Location**
[code]

**Requirements**
- When opening the map screen, we should show all the available markers at the same time plus the location of the user.
- The markers should have a callback so that when clicked they show a detail, as explained in #30

**UI**

<img width="415" alt

[2019-08-14 21:31] Vanethos opened #30 "Clicking on a marker shows the Occurrence Details"
**Description**
Clicking on the marker on a map should show a small detail about the occurence. It is possible to expand this detail to ger more information.

**File Location**
[code]

**Pre-Requisites**
- #19
- #20
- #21
- #22
- #29
- #28

**Requirements**
- Clicking on the map marker should:
    - Center the pin on the screen
    - Highlight the marker
    - Show the Occurence Type Widget for th

[2019-08-14 21:34] Vanethos opened #31 "Unit Tests - Recent Occurrences Endpoint"
**Description**
Unit tests for the endpoint `GET` `{{base_url}}/occurrences`

**Pre-Requisites**
- #5

**Unit-Tests**
- Creating the model via a JSON Response
- Calling the endpiint and mocking a 200 response with a valid response
- Calling the endpoint and mocking a 200 response with an invalid response
- Calling the endpoint and mocking a 400 response
- Verify that calling the api with a mock re

[2019-08-14 21:34] Vanethos opened #32 "Unit Tests - Families Endpoint"
**Description**
Unit tests for the endpoint `GET` `{{base_url}}/occurrences/families`

**Pre-Requisites**
- #6

**Unit-Tests**
- Creating the model via a JSON Response
- Calling the endpiint and mocking a 200 response with a valid response
- Calling the endpoint and mocking a 200 response with an invalid response
- Calling the endpoint and mocking a 400 response
- Verify that calling the api with

[2019-08-14 21:35] Vanethos opened #33 "Unit Tests - Species Endpoint"
**Description**
Unit tests for the endpoint `GET` `{{base_url}}/occurrences/species`

**Pre-Requisites**
- #7

**Unit-Tests**
- Creating the model via a JSON Response
- Calling the endpiint and mocking a 200 response with a valid response
- Calling the endpoint and mocking a 200 response with an invalid response
- Calling the endpoint and mocking a 400 response
- Verify that calling the api with a

[2019-08-14 21:36] Vanethos opened #34 "Unit Tests - Types Endpoint"
**Description**
Unit tests for the endpoint `GET` `{{base_url}}/occurrences/types`

**Pre-Requisites**
- #8

**Unit-Tests**
- Creating the model via a JSON Response
- Calling the endpiint and mocking a 200 response with a valid response
- Calling the endpoint and mocking a 200 response with an invalid response
- Calling the endpoint and mocking a 400 response
- Verify that calling the api with a m

[2019-08-14 21:37] Vanethos opened #35 "Unit Tests - Status Endpoint"
**Description**
Unit tests for the endpoint `GET` `{{base_url}}/occurrences/statuses`

**Pre-Requisites**
- #9

**Unit-Tests**
- Creating the model via a JSON Response
[code]
- Calling the endpoint and mocking a 200 response with a valid response
- Calling the endpoint and mocking a 200 response with an invalid response
- Calling the endpoint and mocking a 400 response
- Verify that calling the ap

[2019-08-14 21:38] Vanethos opened #36 "Unit Tests - District Endpoint"
**Description**
Unit tests for the endpoint `GET` `{{base_url}}/districts`

**Pre-Requisites**
- #10

**Unit-Tests**
- Creating the model via a JSON Response
- Calling the endpiint and mocking a 200 response with a valid response
- Calling the endpoint and mocking a 200 response with an invalid response
- Calling the endpoint and mocking a 400 response
- Verify that calling the api with a mock res

[2019-08-14 21:39] Vanethos opened #37 "Unit Tests - Counties Endpoint"
**Description**
Unit tests for the endpoint `GET` `{{base_url}}/counties`

**Pre-Requisites**
- #11

**Unit-Tests**
- Creating the model via a JSON Response
- Calling the endpiint and mocking a 200 response with a valid response
- Calling the endpoint and mocking a 200 response with an invalid response
- Calling the endpoint and mocking a 400 response
- Verify that calling the api with a mock resp

[2019-08-14 21:39] Vanethos opened #38 "Unit Tests - Parishes Endpoint"
**Description**
Unit tests for the endpoint `GET` `{{base_url}}/parishes`

**Pre-Requisites**
- #12

**Unit-Tests**
- Creating the model via a JSON Response
- Calling the endpiint and mocking a 200 response with a valid response
- Calling the endpoint and mocking a 200 response with an invalid response
- Calling the endpoint and mocking a 400 response
- Verify that calling the api with a mock resp

[2019-08-14 21:42] Vanethos commented on #18
@OldMetalmind Copy will be needed for this issue

[2019-08-14 21:42] Vanethos commented on #30
@OldMetalmind the screenshot for the expanded detail screen must be added

[2019-08-14 21:43] Vanethos commented on #17
@OldMetalmind We need to analyze this issue:
- How are we getting Github data? In the case of FOGOS, they created an endpoint dedicated to this

- The copy for this screen must be added

[2019-08-14 21:44] Vanethos commented on #16
@OldMetalmind copy needed

[2019-08-14 21:44] Vanethos commented on #15
@OldMetalmind copy and images needed

[2019-08-14 21:44] Vanethos commented on #14
@OldMetalmind need animation

[2019-08-14 21:45] Vanethos commented on #13
@OldMetalmind is there a PNG of this image? we will need different sizes for all the IOS screens

[2019-08-14 21:48] Vanethos opened #39 "Add App Icon"
**Description**
Add iOS and Android App Icon

**Requirements**
- Verify https://pub.dev/packages/flutter_launcher_icons to see if it's the best way to add app icons

[2019-08-14 21:48] Vanethos commented on #39
@OldMetalmind app icons needed for Android and iOS

[2019-08-15 15:20] JorgeMiguelGomes commented on #18
@Vanethos copy will be given ;) You can assign that task to me.

[2019-08-15 20:19] Vanethos commented on #18
@JorgeMiguelGomes done!

[2019-08-16 12:43] OldMetalmind commented on #13
The image is at the Zeplin project.
For anyone wishing to contribute with this issue, please read the contribution guide and join the chat for us to give us access to the Zeplin project and all resources.

[2019-08-16 12:46] OldMetalmind opened #40 "Copy [EN/PT] - About Screen"
Screen needs copy from VOST PT.

Issue related to https://github.com/vostpt/mobile-app/issues/18

Assigning to @JorgeMiguelGomes to coordinate what text should we have in the screen.

[2019-08-16 12:47] OldMetalmind commented on #18
Let keep this issue open for developers to be assigned and create another issue only for the copy.

[2019-08-16 12:49] OldMetalmind commented on #40
Required:
- Small paragraph of who is VOST and about this app
- URLS for the social networks

[2019-08-16 12:49] OldMetalmind commented on #39
I'll take care of generating the multiple icons needed.

[2019-08-16 13:00] OldMetalmind commented on #30
**UI Expanded**
<img width="395" alt="Screenshot 2019-08-16 at 13 58 44" src="https://user-images.githubusercontent.com/404874/63169178-0a93d580-c02e-11e9-9b5d-66f0a0bc47a9.png">

This screen reuses components from the Occurrence Detail Screen as mentioned as "required" in the description of the issue.

[2019-08-16 13:04] OldMetalmind opened #41 "Copy [EN/PT] - Contributors Screen"
Text sentence [PT and EN] describing that all contribution was open-sourced and by the community, not only developers but also other areas.

Related to the screen of Contributors: Issue-https://github.com/vostpt/mobile-app/issues/17

[2019-08-16 13:09] OldMetalmind opened #42 "Data Source - List of Contributions of the App"
[Related issue 17](https://github.com/vostpt/mobile-app/issues/17)

In the app we want to list all contributions, so we need an endpoint to feed the app.

We will have a file in assets with the list of all contributors

[2019-08-16 13:10] OldMetalmind commented on #17
Created two issues to take care of the two pending topics
- (Disregard) -> [Issue-42 : List of Contributors ]()
- [Issue-41 : Copy needed](https://github.com/vostpt/mobile-app/issues/41)

[2019-08-16 13:19] OldMetalmind opened #43 "Copy [EN/PT] - Report Problem Screen"
A paragraph describing what should the user report as a problem and that we kindly accept any suggestion for the App or to alert us of any inconsistency in the App.

Issue related to [Report Problem Screen #16](https://github.com/vostpt/mobile-app/issues/16)

[2019-08-16 13:24] OldMetalmind opened #44 "Copy [EN/PT] - Onboarding Screen"
Determine how many screens and what text should be on each screen.

Our suggestion is to have 4 screens with the following
- Who is VOST;
- What is this App;
- Sources of the information for the app;
- *What kind of permissions we ask and why

Please also give us some nice images to go along.

Example of an Onboarding screen with images and text
https://www.uplabs.com/posts/onboarding-8f5bfa41-c37

[2019-08-16 13:26] OldMetalmind commented on #15
Our suggestion is to have 4 screens with the following

1. Who is VOST;
2. What is this App;
3. Sources of the information for the app;
4. *What kind of permissions we ask and why

* This is where we will explain what permissions we need from the device and ask the user if they mind accepting them.

[2019-08-16 13:30] OldMetalmind commented on #14
@ffrutuoso will be working on animating the logo with [2Dimensions Flare(https://www.2dimensions.com/about-flare)

Let's not work on this before Francisco is able to create the animation.

[2019-08-16 13:37] OldMetalmind opened #45 "Create VOST Logo for Splash Screen"
Create the Logo in the various formats needed for iOS and Android to be used in the Splash Screen.

Issue related to [Splash Screen #13](https://github.com/vostpt/mobile-app/issues/13)

[2019-08-16 13:42] OldMetalmind opened #46 "Use different Primary and Secondary Colors"
As recommended by Francisco, we should avoid using the colors Green and Yellow, since they are used as an information, we should follow the color palette created for VOST

https://drive.google.com/file/d/1qLIXjp_nSWs8kpMdLFcNj9NQvxNyBsCb/view

We need to find proper Material colors that fit well with the VOST palette of Blue and that are inclusive.
Then update the project with the new colors.

[2019-08-16 14:21] OldMetalmind opened #47 "Icons - Event Types Images"
It is necessary to create logos for the various occurrences types and their respective png sizes.

[2019-08-19 18:46] OldMetalmind commented on #46
@ffrutuoso can you try out this tool and find a nice couple of Primary an Secondary?
I tried out with the 'Informacao' (Blue) and Wisteria

https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=1E66DE&secondary.color=B9AFF0

Try out in the Figma, feel out the colors.

[2019-08-20 17:54] ffrutuoso commented on #46
New color palette here: [https://material.io/resources/color/...]( https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=1E66DE&secondary.color=E0E0E0&primary.text.color=ffffff)

Still needs to be tested further, but this is the starting point.

![Screen Shot 2019-08-20 at 18 52 55](https://user-images.githubusercontent.com/13594537/63371328-ca10c080-c37b-11e9-9aea-02805a3

[2019-08-21 09:08] Vanethos opened #48 "Initialize intl package for Translations"
Structure the code and add the necessary packages to allow translating strings within the app

[2019-08-21 09:24] #48 closed, assigned to Vanethos

[2019-08-23 13:05] #12 closed, assigned to Vanethos

[2019-08-24 00:48] OldMetalmind commented on #19
I'll be working on this widget together with @jmigueldcarvalho.

[2019-08-28 22:07] ffrutuoso commented on #14
Animated the logo for the splash screen. First version, here:
[https://www.2dimensions.com/a/ffrutuoso/files/flare/vost-anim-v01/preview](https://www.2dimensions.com/a/ffrutuoso/files/flare/vost-anim-v01/preview)

[2019-08-29 20:47] OldMetalmind opened #52 "Delete default test"
Delete file `test\widget_test.dart` the tests will fail since we don't have the default views

[2019-08-29 21:23] OldMetalmind commented on #45
This issue won't be needed since we have the animation created in this issue: https://github.com/vostpt/mobile-app/issues/14

[2019-08-29 21:23] #45 closed, assigned to OldMetalmind, ffrutuoso

[2019-08-29 21:23] OldMetalmind commented on #13
I'm doing this Pull Request, I will use the animation made by @ffrutuoso
Related:
- https://github.com/vostpt/mobile-app/issues/14

[2019-08-29 22:13] #38 closed, assigned to Vanethos

[2019-08-29 22:17] OldMetalmind commented on #52
Closed by https://github.com/vostpt/mobile-app/pull/55

[2019-08-29 22:17] #52 closed, assigned to OldMetalmind

[2019-09-02 00:05] #14 closed, assigned to OldMetalmind, ffrutuoso

[2019-09-02 16:52] OldMetalmind opened #59 "Update Cocoapods version"
Current set version is `1.6.0` we need to update it to at least to `1.7.2`

[2019-09-02 16:57] OldMetalmind commented on #42
Pending of the following issue https://github.com/vostpt/api/issues/58 from the project API

[2019-09-02 16:58] #13 closed, assigned to OldMetalmind

[2019-09-02 17:00] OldMetalmind commented on #9
I'll do this issue.

[2019-09-02 17:04] #24 closed, assigned to Vanethos

[2019-09-05 21:52] #59 closed, assigned to OldMetalmind, Vanethos

[2019-09-09 19:39] Vanethos commented on #3
In discussion

[2019-09-09 19:40] Vanethos commented on #2
Completed by default with the first push

[2019-09-09 19:40] #2 closed, assigned to nobody

[2019-09-09 21:45] Vanethos commented on #9
We will need to discuss this, because the API response is very similar in all endpoints

[2019-09-22 21:08] joaomagfreitas commented on #1
Hey guys, is this issue assigned to someone? If not I can help :)

[2019-09-23 05:53] Vanethos commented on #1
Go ahead @freitzzz !

I'll assign the issue to you

I'm just going to edit the description to be more clear, other than that you're good to go!

[2019-09-23 16:27] joaomagfreitas commented on #1
Got it!
Will start working on the issue asap

[2019-10-01 04:44] 404shades commented on #16
Please assign this issue to me. I can work on this

[2019-10-01 09:50] OldMetalmind commented on #16
Ok @404shades we will, please feel free to join our chat is in our Contributions documents.

[2019-10-01 10:19] 404shades commented on #16
can you please review. I have opened the pull request

[2019-10-01 11:04] Vanethos commented on #16
@404shades we always try our best to be as quick as possible.

Use the issues only to ask questions about the issue or suggest changes to it.

[2019-10-01 15:00] #5 closed, assigned to Vanethos

[2019-10-01 15:00] #6 closed, assigned to Vanethos

[2019-10-01 15:00] #7 closed, assigned to Vanethos

[2019-10-01 15:00] #8 closed, assigned to Vanethos

[2019-10-01 15:00] #9 closed, assigned to OldMetalmind, Vanethos

[2019-10-01 15:00] #10 closed, assigned to Vanethos

[2019-10-01 15:00] #11 closed, assigned to Vanethos

[2019-10-02 11:58] AmaldevAD commented on #17
do u have api for this particular app?

[2019-10-02 12:52] OldMetalmind commented on #17
We have an API for the app itself, however, for this task at hand, we will be loading the contributors from a JSON file in the assets in this first version.
If you desire to contribute to this task, please recommend a JSON structure for contributors that can have different backgrounds, such as designers, copy, coders.

[2019-10-02 19:22] diegoalvis commented on #46
@OldMetalmind
I'd like to contribute to this issue. I already have some work in progress with an app theme component using the new color palette.

[2019-10-03 10:19] OldMetalmind commented on #46
assigned to you @diegoalvis

[2019-10-03 12:43] hientranea commented on #21
@Vanethos  Can i work on this issue ?

[2019-10-03 15:23] OldMetalmind opened #66 "Travis iOS build failing"
Building the iOS was failing for a Pull Request

https://github.com/vostpt/mobile-app/pull/65/checks?check_run_id=245752227

[2019-10-05 11:21] TomerPacific commented on #22
@Vanethos , is this issue still up for grabs?

[2019-10-05 11:33] OldMetalmind commented on #22
Hello @TomerPacific it still is. Thumbs up 👍 this message and I'll assign it to you.

[2019-10-05 13:47] TomerPacific commented on #22
@OldMetalmind , is there anything specific I should be aware of? Do you want to separate it into two widgets? Naming conventions? Stateless/Stateful?

[2019-10-06 13:05] Vanethos commented on #22
@TomerPacific

This Widget shpuld be Stateless.

Since there are no other widgets yet for this project, I'd name it as `OccurrencesTimeWidget`, or anything that you feel might be proper for this widget.

This can be one widget only

Anything else, we'll be here to help you!

[2019-10-06 13:07] Vanethos commented on #21
Yes!

I'll assign this issue to you

[2019-10-07 10:09] Vanethos commented on #66
Solved in develop branch

[2019-10-07 10:09] #66 closed, assigned to nobody

[2019-10-07 10:12] Vanethos commented on #4
@OldMetalmind @JorgeMiguelGomes

Will we have different backend versions? As in, will we debug the app in a development environment instead of doing it in production?

If we have just one environment, I'd say we can close this issue or postpone it for a future version

[2019-10-07 10:34] Vanethos commented on #42
We will need the following to form this:

- Github username
- User's name (if available)
- Profile picture URL
- Profile URL (should be github.com/userName)
- The type of help that was provided - `copy`, `design`, `development` - Category

When we are preparing for a release, we will need to deploy the asset file.

As for now, and to update issue #17, @OldMetalmind can you please accept this struc

[2019-10-07 10:38] Vanethos commented on #42
This was discussed in a private conversation with the feedback for adding the field `category`

The original issue will be updated

[2019-10-07 10:41] Vanethos commented on #17
The issue was updated with the expected JSON object.

[2019-10-08 06:15] TomerPacific commented on #22
@Vanethos , I have built a rough draft of the widget, but when trying to run the application, I get the following error:

../Flutter%20SDK/flutter/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.5.7/lib/flare.dart:601:14: Error: The method 'FlutterActor.makeShapeNode' has fewer positional arguments than those of overridden method 'Actor.makeShapeNode'.
  ActorShape makeShapeNode() {

[2019-10-08 07:36] Vanethos commented on #22
@TomerPacific , a couple of questions:

- Are you on branch develop?
- Can you put here the output of `flutter doctor`?

Because on our end the app is running, in fact in each commit Travis tries to build the app, so supposedily it should be working in the latest `stable` branch of Flutter (I also tested building the app now and it worked)

[2019-10-08 11:19] Thesmader commented on #18
Is it compulsory to use the BLoC architecture for this screen?

[2019-10-08 12:29] TomerPacific commented on #22
@Vanethos ,
I have branched out from develop into **feature/Occurrences-Widget-22**.

Running `flutter doctor` yields:

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.9.1+hotfix.4, on Microsoft Windows [Version 10.0.18362.356], locale en-IL)
[!] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
    ! Some Android licenses not

[2019-10-08 16:17] Vanethos commented on #22
A quick question, if you update Flare's, can you run the app?

If so, and with no problem, please create a new PR just with that update, I'll approve it and you can then continue working on this.

Sorry for this experience btw! But on my end I'm not having any issues so it's hard to help and debug it :(

[2019-10-08 16:18] Vanethos commented on #18
@Thesmader For this screen it is not since it's going to be composed of static data (for now).

If in the future we need to have dynamic data for the contacts, we will update it in a new issue

[2019-10-08 16:43] JorgeMiguelGomes commented on #40
A VOST Portugal - Associação de Voluntários Em Situações de Emergência - é uma equipa de voluntários digitais que recolhe, valida, e informa as populações em casos de emergência. Esta aplicação, feita integralmente por voluntários e em código aberto, tem como objectivo colocar numa só aplicação mensagens oficiais no âmbito da autoprotecção, desastres naturais, e fenómenos meteorológicos adversos.

[2019-10-08 17:15] Thesmader commented on #18
I'm interested in taking this issue. Any specific guidelines to follow?

[2019-10-08 17:24] Vanethos commented on #18
Sure!

Please read our Contributing guidelines: https://github.com/vostpt/mobile-app/blob/develop/CONTRIBUTING.md

- When a Widget is for a Screen, add the suffix `Page`, `AboutPage` for example
- The file name should be undercased and spaces should be underscores `about_page.dart`
- When possible use `StatelessWidgets`
- Add a route to the `app.dart` file (iirc) in order to navigate to that scree

[2019-10-08 17:26] Vanethos commented on #18
@Thesmader The text for this screen will be added in a few minutes.

I'll assign this issue to you

[2019-10-08 17:31] Thesmader commented on #18
Thank you, @Vanethos. I will start working on it.

[2019-10-09 11:59] TomerPacific commented on #22
@Vanethos ,
I have applied what you have suggested and the application runs now.
I have upgraded the Flare package to the latest version, [1.5.15](https://pub.dev/packages/flare_flutter/versions), which was released yesterday.

Do you want me to open an issue and then a pull request to reference it?

The issue might originate from my flutter version?

`Flutter 1.9.1+hotfix.4 • channel stable • htt

[2019-10-09 12:12] Vanethos commented on #22
@TomerPacific if you could open the issue and send the PR that would be awesome 🙏

[2019-10-09 12:31] TomerPacific opened #69 "Dependency - Flare Flutter version needs to be upgraded"
When compiling the project, it was observed that:

../Flutter%20SDK/flutter/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.5.7/lib/flare.dart:601:14: Error: The method 'FlutterActor.makeShapeNode' has fewer positional arguments than those of overridden method 'Actor.makeShapeNode'.
ActorShape makeShapeNode() {
^
../Flutter%20SDK/flutter/.pub-cache/hosted/pub.dartlang.org/flare_dart-1.4.8/lib/a

[2019-10-09 12:38] TomerPacific commented on #22
@Vanethos , an[ issue](https://github.com/vostpt/mobile-app/issues/69) has been opened and a [PR ](https://github.com/vostpt/mobile-app/pull/70)has been made.

[2019-10-09 12:39] TomerPacific commented on #69
A [PR](https://github.com/vostpt/mobile-app/pull/70) solving this issue.

@Vanethos , I would appreciate it if you could tag this issue accordingly (including the Hacktoberfest tag).

[2019-10-09 12:52] #69 closed, assigned to TomerPacific

[2019-10-09 12:53] Vanethos commented on #22
@TomerPacific done!

[2019-10-10 14:03] Thesmader commented on #18
I'm done with the basic parts of the screen. I will need the image and content to complete the work.

[2019-10-10 14:11] Vanethos commented on #18
@Thesmader
The text is in the first post.

As for the image, could you please put a placeholder?

Additionally, we are waiting for the contacts information, so please setup the layouts with mock data assuming that you are receiving data objects with the format given in the issue

[2019-10-10 14:12] Thesmader commented on #18
Alright, I'll do that.

[2019-10-11 13:38] TomerPacific commented on #22
@Vanethos ,

this is what I have come up with :

![vostro](https://user-images.githubusercontent.com/23402988/66655312-82ecd080-ec44-11e9-97aa-3b76b6b4547a.jpg)

I have a few questions before opening a PR:

1. The text on the bottom row has been downscaled to fit the width of the container. Instead of entering a scale which may not fit all screens, do you allow the use of the [auto size text](http

[2019-10-12 15:16] Vanethos commented on #22
@TomerPacific
- You still need to put inside an element like a card, just as it is in the original post.
- As of the autosize library, it is best to open a different issue and a PR just for that.
- What happens if one of the date-time elements, end for example, is null?

Other than that, I have to say I was fairly impressed with such detailed and informative comment. This is great quality content

[2019-10-12 15:21] #16 closed, assigned to 404shades

[2019-10-12 15:24] Vanethos commented on #1
@freitzzz any news? Did you manage to have time to complete the PR?

[2019-10-12 15:24] Vanethos commented on #21
@hientranea any news on this issue?

[2019-10-12 15:38] TomerPacific commented on #22
@Vanethos ,
thanks for the feedback.
In response to what you wrote:

-  There is no mention of a Card element (or at least I didn't understand there was a requirement for one), so I just want to make sure i understand. You would like the hierarchy to contain a card element that the dates will be displayed on?

- If you request a different issue and PR for the autosize library, do you prefer that I

[2019-10-12 15:54] Vanethos commented on #22
@TomerPacific

- When I say "card" it can be a container with a background! As you can see from the image, it has a rectangle all around it with some drop shadow

- Yes, leave things as they are!

- Yep that is what it is intended!

[2019-10-12 20:34] TomerPacific commented on #22
@Vanethos ,
I have opened a [PR](https://github.com/vostpt/mobile-app/pull/71).

[2019-10-12 21:03] JaredEzz commented on #39
I can do this 🖐️ - I've used flutter_launcher_icon before and it works great. Where can I find the icon files?

[2019-10-14 05:45] Vanethos commented on #39
@JaredEzz this task still needs the maintainers help (see the label), so I don't think it's possible for you to do it

But just to be sure: @OldMetalmind are the icons generated?

[2019-10-14 09:17] Vanethos commented on #22
Hey @TomerPacific ! I've commented the PR and requested changes!

Great work so far!

[2019-10-14 11:48] TomerPacific commented on #22
@Vanethos , I have reviewed all your comments and updated the PR.

[2019-10-15 05:52] Vanethos commented on #1
Due to inactivity, I'm going to remove the assignee of this issue

[2019-10-15 06:03] Vanethos commented on #3
Going to close this issue since we are using InheritedWidget for the time being

[2019-10-15 06:03] #3 closed, assigned to Vanethos

[2019-10-15 06:04] Vanethos commented on #18
@Thesmader any news on the PR?

[2019-10-15 06:05] #46 closed, assigned to OldMetalmind, diegoalvis, ffrutuoso

[2019-10-15 06:40] Vanethos opened #74 "Change app identifier"
Change app identifier from `pt.vost` to `pt.vost.app`

[2019-10-15 09:42] JorgeMiguelGomes commented on #44
@OldMetalmind I think that the part "Who is VOST" is already written?

[2019-10-15 11:56] OldMetalmind commented on #44
@JorgeMiguelGomes I can get the text from elsewhere but the context was different, here the "Who is VOST" is more condensed, we don't have much space for text and we are in the mobile enviroment. Type of language is different.
Just my suggestion, if not, i'll grab the text elsewhere.

[2019-10-15 13:38] JorgeMiguelGomes commented on #44
@OldMetalmind understood loud and clear. I'll get it done today.

[2019-10-15 14:47] JorgeMiguelGomes commented on #44
### Who Is VOST Portugal
a VOST Portugal - Associação de Voluntários Digitais em Situações de Emergência, é um grupo de cidadãos que actuam nas redes sociais com o objectivo de informar as populações com informações fidedignas
### What is this app
Esta aplicação pretende que tenhas o máximo de informação possível, em tempo real, das áreas onde te encontras, no que diz respeito a emergências
### So

[2019-10-15 14:57] Vanethos commented on #44
@OldMetalmind I'll try to help you with that one

## Location Permission

Para que tenhas acesso às ocorrências mais perto de ti, precisamos de ter acesso á tua localização.
Caso não seja aceite a app funcionará normalmente mas não poderemos mostrar ocorrências com base na tua localização.

## Notification Permissions (for iOS)

Na app VOST podes subscrever a notificações mediante o tipo e a local

[2019-10-15 15:01] JorgeMiguelGomes commented on #44
@Vanethos e @OldMetalmind I think it would be **important** to immediately tell the user that if he wants to contribute with information they will have to register an account and that all media sent via the app will be geolocated. What do you think?

[2019-10-15 15:15] Vanethos commented on #44
@JorgeMiguelGomes if I remember correctly, but @OldMetalmind can then correct me if I'm wrong, in this version we will not have login and registration, that will be in V2

[2019-10-15 15:18] OldMetalmind commented on #44
@Vanethos correct, This Onboarding does not include **Registration**, for this version we are not using the backend Authentication API we will need to talk with backend to see how's the status on that.

Let's discuss **Registration** offline and then create the proper issue accordingly

[2019-10-15 15:25] JorgeMiguelGomes commented on #44
My mistake.

[2019-10-15 19:16] Thesmader commented on #18
Sorry for the delay. I was busy with my classes. I am almost done with the work. Will open the PR soon.

[2019-10-15 19:32] Lima21 commented on #25
I will do this issue :)

[2019-10-16 00:22] joaomagfreitas commented on #1
Hi @Vanethos !

Unfortunately I've been very inactive on Github due to work and school consuming most of my work and spare time :( I'm sorry that I wasn't able to help and answer you in time!

I will also make sure that I can work on a PR next time I ask for an assignee on an issue.

Cheers,
freitzzz

[2019-10-16 06:13] Vanethos commented on #1
@freitzzz There's no problem in that!

The joy of open-source is being able to contribute to projects when we have time!

And sometimes life just happens or we don't have the time or energy to do it and that's **totally okay** :D

When we have less time, others will have more time, and vice-versa, so I just removed you from this issue not for "punishment", but because others (in this case myself)

[2019-10-16 06:23] Vanethos commented on #42
As of now:

[code]

I need your opinion on the following:
- Order: it was the order provided by github
- Profile URL: in the case of Francisco and Jorge, I added their Dribbble and Twitter profiles respetively, with no username.
- Category: in your case @OldMetalmind you helped out with all three categories, so do we want to have multiple values in the `category` parameter? Or should we focus only

[2019-10-17 18:14] Lima21 commented on #17
I will do this issue

[2019-10-18 09:46] pidwid commented on #35
ill do this issue, can you please elaborate it a little more.

[2019-10-18 16:35] Vanethos commented on #35
Hi @pidwid I'll assign the issue to you

You will need to do a series of tests:

- First, use the values provided in the json to create a `StatusModel` object, serialize it and compare it to the json provided in the description
- Then, you will need to verify that the `StatusService` class can fetch data from the server and return a correct object. To do that, you will need to creat a new instance

[2019-10-19 00:30] TarekkMA commented on #1
Hello, @Vanethos  I'm glad to help with this issue <3. BTW I love the way you structured the app.

[2019-10-19 00:55] TarekkMA commented on #1
@Vanethos  can you explain what is the roles for ```VostSharedPreferences``` and ```SharedPreferencesManager```.

Should  ```VostSharedPreferences``` be just a wrapper to ```SharedPreferences``` plugin and  ```SharedPreferencesManager``` methods like ```setUser()``` ?

[2019-10-19 08:46] Vanethos commented on #1
@TarekkMA

As you can see this issue has been assigned to me and I have already created a PR for it

But you have other issues that you can do!

[2019-10-19 09:33] TarekkMA commented on #1
Oh okay thank you I will select another issue

[2019-10-19 09:35] TarekkMA commented on #37
Can you assign me to this issue?

[2019-10-19 10:12] Vanethos commented on #15
Issue has been updated with the new UI for this page

[2019-10-19 11:23] TarekkMA commented on #37
Please note that #11 JSON example is not correct.
[code]
relationships fields should be non-nullable fields. ie district.data should never be null according to the JSON annotations.

[2019-10-20 10:24] #22 closed, assigned to TomerPacific

[2019-10-20 11:04] Vanethos opened #81 "Save favorite occurrences locally"
When adding an occurrence to the favorites, we should save it locally.

To be discussed:
- SQL vs Shared Preferences
- Should only the IDS be saved?

Is blocked by: #23

[2019-10-20 11:05] #25 closed, assigned to Lima21

[2019-10-20 11:11] Vanethos opened #82 "Show List of Favorite Occurrences"
Is blocked by #81

We should be able to retrieve the list of Ids that we have saved locally and show the occurrences

To be discussed with @miguelpruivo and @OldMetalmind :
- We will have the ids saved locally, so how can we retrieve the status for each occurrence? If we have 100 saved occurrences will we ping the server 100 times to know the status of each one?

We will have the following endpoin

[2019-10-20 12:11] Vanethos commented on #44
@JorgeMiguelGomes @OldMetalmind

I'm going to put these into the app, however we are still missing the English Translation for these texrts

[2019-10-20 12:30] Vanethos opened #84 "Register that onboarding has been seen"
After the first time the user goes through the onboarding experience, save in shared preferences that this has been seen.

[2019-10-20 12:31] Vanethos opened #85 "Add request of location permissions in the map page"
On the map page, if the user has not given permissions, add a button to request those permissions.

[2019-10-21 07:30] TomerPacific commented on #21
@Vanethos, do you need help with this issue?

[2019-10-21 07:59] Vanethos commented on #21
Hey @TomerPacific !

Sure! I don't have access to the images yet but you can use one of logos in the assets folder

I'll assign this to you

[2019-10-21 13:06] TomerPacific commented on #21
@Vanethos ,
below is a screenshot of what I have so far:

![app](https://user-images.githubusercontent.com/23402988/67207368-1a5bdb80-f41c-11e9-8e04-b995ecc7b5e4.jpg)

I have turned the background black so that the image asset can be shown (as it is white). I am also aware of the font size and will scale it accordingly.

I wanted to get some clarification about the callback. If you could provide s

[2019-10-21 13:07] ffrutuoso commented on #44
With suggestion from @vanvsdzn , the Notification texts should have the bold phrase changed. It is a better suited text for gender neutrality.

### Notification Permissions (for iOS)
Na app VOST podes subscrever a notificações mediante o tipo e a localização, **para que tenhas sempre informação** das últimas ocorrências.
Para isso precisamos da tua permissão para te enviarmos notificações

[2019-10-21 13:24] Vanethos commented on #21
@TomerPacific the callback should be ignored for now, it is something that must be done after all these widgets are created.

Having the formatted date in another class is brilliant, thanks for that 👍

As with the previous widget that you have worked on, will this wrap nicely in a small card like we see in the original Post? What I mean is: If I use your item in a list, how will it look?

Also:

-

[2019-10-21 13:54] TomerPacific commented on #21
@Vanethos , thanks for the quick reply.
I will ignore the callback. As I mentioned, I am aware of the text size and will scale it. I just wanted to put a screenshot so you can get an idea of what I am working on.

It is supposed to wrap nicely as I have wrapped everything in a Container widget.
In regards to alignment, the layout of the widget is:

The reason it is mapped this way is because I nee

[2019-10-21 16:38] Vanethos commented on #21
Now with the update it's perfect 👍

[2019-10-22 15:58] TomerPacific commented on #21
@Vanethos , I have created a [PR](https://github.com/vostpt/mobile-app/pull/86)

[2019-10-23 14:02] Vanethos commented on #17
@Lima21 Any news on this issue?

[2019-10-25 08:38] #18 closed, assigned to Thesmader

[2019-10-25 11:27] #74 closed, assigned to Vanethos

[2019-10-25 11:28] #1 closed, assigned to Vanethos

[2019-10-25 11:30] #28 closed, assigned to Vanethos

[2019-10-27 03:54] Thesmader commented on #18
This was my first Hacktoberfest. Thank you for letting me work on this repo. I learned to write good code by seeing the code in this repo. It was a lovely experience for me.

[2019-10-27 09:23] Lima21 commented on #29
I will do this ;)

[2019-10-27 10:27] Lima21 commented on #19
I will do this issue

[2019-10-27 10:51] Vanethos commented on #18
Thank you so much @Thesmader your comment surely made my week! :D

Anytime you want to contribute to this or other projects, please do let me know! You can ping me at  https://twitter.com/GonPalma !

[2019-10-27 11:21] #21 closed, assigned to TomerPacific

[2019-10-27 13:19] #29 closed, assigned to Lima21

[2019-10-27 17:56] Vanethos opened #95 "Intro screen is too large for iPhone 5S"
<img width="324" alt="imagem" src="https://user-images.githubusercontent.com/10728633/67639048-a4b4ab80-f904-11e9-99f7-0073c3aa2473.png">

In a small screen, the text size is too large and overlaps with the bottom part of the screen

[2019-10-27 19:00] Vanethos commented on #17
closed via #94

[2019-10-27 19:00] #17 closed, assigned to Lima21

[2019-10-27 19:16] Vanethos commented on #19
Closed via #92

[2019-10-27 19:16] #19 closed, assigned to Lima21

[2019-10-27 19:20] Vanethos opened #96 "Splash Screen on iPhone 5s is not centered"
See the following image:

![Simulator Screen Shot - iPhone 5s - 2019-10-27 at 23 20 11](https://user-images.githubusercontent.com/10728633/67639991-61f8d080-f910-11e9-812b-3fe8f0d75190.png)

[2019-11-02 21:28] CodeGlitch commented on #30
Hello! If no one is working on this issue, I would like to try to help, please assign this issue to me :)

[2019-11-02 21:43] OldMetalmind commented on #30
@CodeGlitch done, thanks for helping, let us know if you have any question.

[2019-11-03 10:10] CodeGlitch commented on #30
Do we have the files for the firefighter/firetruck/airplanes images above? Or should I use something else?

[2019-11-03 10:24] #85 closed, assigned to Vanethos

[2019-11-03 10:24] #84 closed, assigned to Vanethos

[2019-11-03 10:24] #26 closed, assigned to Vanethos

[2019-11-03 10:25] #20 closed, assigned to Vanethos

[2019-11-03 10:25] #15 closed, assigned to Vanethos

[2019-11-10 09:31] CodeGlitch commented on #30
I've submitted a suggestion for this issue. The commit with the graddle might not be necessary, at least i couldnt compile and install on Android without updating it.
On https://github.com/vostpt/mobile-app/pulls seems to end with error, but I think that's because of the missing keys,dart?
Tell anything you need to help

[2019-11-10 18:35] Vanethos opened #104 "In the Home Page, show which occurrences have been favorited"
At the moment, all occurrences in the home page appear as favorited.

We can retrieve the value from the shared preferences and validate which are favorited or not.

Is blocked by #23 , #81

[2019-11-10 20:17] #23 closed, assigned to Vanethos

[2019-11-10 20:17] #81 closed, assigned to Vanethos

[2019-11-12 12:22] #104 closed, assigned to Vanethos

[2019-11-14 19:24] #27 closed, assigned to Vanethos

[2019-11-14 19:27] #82 closed, assigned to Vanethos

[2019-11-17 09:53] #30 closed, assigned to CodeGlitch

[2019-12-01 11:02] Vanethos opened #112 "Create Geometry Map with Warnings"
In the map screens, we will need to retrieve data from the following endpoint:

https://api.vost.pt/documentation/#tag/Warnings

To show as `Polygon` in the map inside `home_page.dart`.

For that, we will need to create a map with all the points needed to create a polygin for each district, which can be found here:

https://pastebin.com/mDAgBmC7

The ids for each district and the polygon points co

[2019-12-11 15:21] OldMetalmind opened #113 "Fonts - Add Lato to the App"
Now with Google Fonts for Flutter we need to adapt the UI to start using Lato Font

Resources:
- Lato: https://fonts.google.com/specimen/Lato
- Package: https://pub.dev/packages/google_fonts

[2020-02-03 21:28] OldMetalmind opened #114 "Update Project to work with latests versions"
Currently the project works only for a certain Flutter version, this issue serves to update the project to the latest version and fix upcoming problems for updating to the latest stable version but also by updating the libraries accordingly.

[2020-02-04 11:12] Vanethos commented on #114
Can we close this issue @OldMetalmind ?

[2020-02-04 13:44] OldMetalmind commented on #114
Yes, it is already merged with the PR#115

[2020-02-04 13:44] #114 closed, assigned to OldMetalmind

[2020-02-06 00:41] OldMetalmind opened #117 "Add Localizations text dependency back"
On the previous issue #115 the dependencies `intl` and `intl_translation` were removed, we should add them back.

[2020-02-06 00:55] OldMetalmind opened #119 "Overall UI improvement of Occorrence Map Screen"
It is necessary to tweak the Map screen with the current occurrences to approach the defined design, such has:

- Remove the closing floating button
- Edit the size of text
- Fine tune the margins of the texts
- Update the cards details

[2020-02-06 14:45] #117 closed, assigned to OldMetalmind

[2020-02-07 00:18] #113 closed, assigned to OldMetalmind